@page
@using EltraCloud.Pages.ObjectDictionary
@model EltraCloud.Pages.ObjectDictionary.ObjectDictionaryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_NavLayout";
}

<br/>

<h4>Device</h4>

<p>
    <table class="table table-responsive-sm" data-click-to-select="true" data-toggle="table" data-single-select="true">
        <thead>
            <tr>
                <th>Index</th>
                <th>SubIndex</th>
                <th>Name</th>
                <th class="text-center">Access</th>
                <th class="text-center">Type</th>
                <th>Value</th>
                <th class="text-center">Modified</th>
            </tr>
        </thead>
        @{int idx = 0;}
        @foreach (var parameter in Model.Parameters)
        {
            <tr>
                <td class="text-center">@parameter.Index</td>
                <td class="text-center">@parameter.SubIndex</td>
                <td>@parameter.Name</td>
                <td class="text-center">@parameter.AccessMode</td>
                <td class="text-center">@parameter.DataType</td>

                @if (parameter.AccessMode == "RW" || parameter.AccessMode == "WO")
                {
                    <td>
                        
                            <div>
                                @await Html.PartialAsync("_ParameterEditView", new ParameterEditViewModel {Parameter = parameter }, new ViewDataDictionary(ViewData) { { "index", idx }})
                            </div>
                        
                    </td>
                }
                else
                {
                    <td>
                        <div class="row">
                            <div class="col text-left">
                                @Html.DisplayFor(model => parameter.Value)
                            </div>
                            <div class="col text-left">
                                @Html.DisplayFor(model =>parameter.Unit)
                            </div>
                            <div class="col"></div>
                        </div>
                    </td>
                }

                <td class="text-center">@parameter.Modified</td>
            </tr>
            idx++;
        }
    </table>
</p>