@page
@model EltraCloud.Pages.IndexModel
@{
    Layout = "_NavLayout";
}

<script>
    function OnSessionSelected(element, uuid) {
        document.cookie = "session=" + uuid;
    }

    function OnDeviceSelected(element, serialNumber) {
        document.cookie = "serialNumber=" + serialNumber;
    }
</script>

<br />

<h4>Sessions</h4>

<p>
    <table class="table table-striped" data-click-to-select="true" data-toggle="table" data-single-select="true">
        <thead>
            <tr>
                <th>User</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        @foreach (var session in Model.Sessions)
        {
            <tr>
                <td>@session.User.AuthData.Name</td>
                <td>@session.Status</td>
                <td>@session.Modified</td>
            </tr>
        }
    </table>
</p>

<h4>Devices</h4>

<p>
    <table class="table table-striped" data-click-to-select="true" data-toggle="table" data-single-select="true">
        <thead>
            <tr>
                <th>Image</th>
                <th>Device Name</th>
                <th>Product Name</th>
                <th>Serial Number</th>
                <th>Version</th>
            </tr>
        </thead>
        @{
            var devices = Model.Devices;

            if (devices != null)
            {
                foreach (var device in devices)
                {
                    var imageSrc = device.ProductPicture;
                    var productName = device.Name;

                    <tr>
                        <td>
                            <div class="border-dark align-content-center text-center">
                                <img src="@imageSrc" height="64" />
                            </div>
                        </td>
                        <td> 
                            <a href="./ObjectDictionary?sessionUuid=@device.SessionUuid&serialNumber=@device.Identification.SerialNumber">@device.Family</a>
                        </td>
                        <td>@productName</td>
                        <td>@Html.Raw("0x")@device.Identification.SerialNumber.ToString("X")</td>
                        <td>
                            @Html.Raw("0x")@device.Version.SoftwareVersion.ToString("X")
                            @Html.Raw("0x")@device.Version.HardwareVersion.ToString("X")
                            @Html.Raw("0x")@device.Version.ApplicationNumber.ToString("X")
                            @Html.Raw("0x")@device.Version.ApplicationVersion.ToString("X")
                        </td>
                    </tr>
                }
            }
        }
        </table>
        </p>